<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top"> <a class="navbar-brand" href="{% url 'posts'%}">misfits
            alley</a> <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item">
                    <div id="custom-search" class="top-search-bar"> <input class="form-control" type="text"
                            placeholder="Search.."> </div>
                </li>
                <li class="nav-item dropdown notification"> <a class="nav-link nav-icons" href="#"
                        id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                        <li>
                            <div class="notification-title"> Notification</div>
                            <div class="notification-list">
                                <div class="list-group">
                                    {% for notification in notifications %}
                                    <a href="#" class="list-group-item list-group-item-action active">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img
                                                    src="https://img.icons8.com/office/100/000000/administrator-female.png"
                                                    alt="" class="user-avatar-md rounded-circle"></div>
                                            <div class="notification-list-user-block"><span
                                                    class="notification-list-user-name">{{notification.user.username}}</span>{{notification.content}}
                                                <div class="notification-date">{{notification.get_date}}</div>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-footer"> <a href="#">View all notifications</a></div>
                        </li>
                    </ul>
                </li>
                <!-- <li class="nav-item dropdown connection"> <a class="nav-link" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="fas fa-fw fa-th"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                        <li class="connection-list">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="#"
                                        class="connection-item"><img
                                            src="https://img.icons8.com/nolan/100/000000/github.png" alt="">
                                        <span>Github</span></a> </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="#"
                                        class="connection-item"><img
                                            src="https://img.icons8.com/color/100/000000/dribbble.png" alt="">
                                        <span>Dribbble</span></a> </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="#"
                                        class="connection-item"><img
                                            src="https://img.icons8.com/color/100/000000/dropbox.png" alt="">
                                        <span>Dropbox</span></a> </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="#"
                                        class="connection-item"><img
                                            src="https://img.icons8.com/color/100/000000/bitbucket.png" alt="">
                                        <span>Bitbucket</span></a> </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="#"
                                        class="connection-item"><img
                                            src="https://img.icons8.com/color/100/000000/remove-ads.png"
                                            alt=""><span>Facebook ads</span></a> </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="#"
                                        class="connection-item"><img
                                            src="https://img.icons8.com/wired/64/000000/slack.png" alt="">
                                        <span>Slack</span></a> </div>
                            </div>
                        </li>
                        <li>
                            <div class="conntection-footer"><a href="#">New Post</a></div>
                        </li>
                    </ul>
                </li> -->
                <li class="nav-item dropdown connection"> <a class="nav-link" href="{% url 'create_post' %}"
                        id="navbarDropdown" role="button" aria-haspopup="true"> <i class="fas fa-plus"></i>
                    </a>

                </li>
                <li class="nav-item dropdown nav-user"> <a class="nav-link nav-user-img" href="#"
                        id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.get_username %}
                        <img src="https://www.gravatar.com/avatar/{{imagehash}}?d=identicon" alt=""
                            class="user-avatar-md rounded-circle">
                        {% else %}
                        <img src="https://www.gravatar.com/avatar/1212?d=identicon" alt=""
                            class="user-avatar-md rounded-circle">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                        aria-labelledby="navbarDropdownMenuLink2">
                        <div class="nav-user-info">
                            {% if user.get_username %}
                            <h5 class="mb-0 text-white nav-user-name">{{user.get_username}}</h5>
                            {% else %}
                            <h5 class="mb-0 text-white nav-user-name">Anonymous</h5>
                            {% endif %}
                        </div>
                        {% if user.get_username %}
                        <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                        <!-- <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>  -->
                        <a class="dropdown-item" href="{% url 'logout' %}"><i
                                class=" fas fa-power-off mr-2"></i>Logout</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}"><i class="fas fa-user mr-2"></i>Login</a>
                        {% endif %}

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>